@charset "utf-8";

.xe_bootstrap_board { font-size: 0.8rem; }
.xe_bootstrap_board .btn { border-radius: 0; transition: 0.3s; }

.xe_bootstrap_board .btnArea { text-align: right; margin-top: 1rem; margin-bottom: 1rem; }

.board_header h3{ margin:0; margin-bottom: 1rem; border-bottom:1px solid #efefef; }
.board_header h3 .title{ border-bottom: 2px solid #ff6633; margin-bottom: -1px; padding-bottom: 0.7rem; display: inline-block; }
.board_header a{ color: #000; text-decoration: none; transition: 0.3s }
.board_header a:hover { text-decoration: none; color: #ff6633; }
.board_header .btn { float: right; color: #fff; }
.board_header .btn:hover { color: #fff; }

.no_document{}
.board_list{ border: 0; width: 100%; color: #000; }
.board_list thead{ border-top: 3px solid #cc0000; border-bottom: 1px solid #dedede; }
.board_list th{ border: 0; padding: 0.6rem 0.3rem; text-align: center; white-space: nowrap; }
.board_list tr.notice{ background-color: #f6f6f6; }
.board_list td{ border: 0; }
.board_list tbody { border-bottom: 1px solid #dedede; }
.board_list tbody td{ white-space: nowrap; }
.board_list tbody td.title{ white-space: normal; word-break: break-all; }
.board_list tbody tr{ border-bottom: 1px solid #f6f6f6; }
.board_list td.notice{ padding: 0.5rem 0.5rem; text-align: center; }
.board_list td.notice .notice-icon { background-color: #cc0000; padding: 0.2rem 0.3rem; color: #fff; border: 1px solid #e60000; font-weight: bold; font-size: 0.9rem; }
.board_list td.no{ padding: 0.4rem 0.5rem; text-align: center; font-size: 0.8rem; }
.board_list td.category { padding: 0.4rem 0.5rem; text-align: center; }
.board_list td .category-icon{ padding: 0.2rem 0.3rem; font-size: 0.8rem; color: #fff; }
.board_list td.title{ padding: 0.4rem 0.8rem; padding-left: 0.4rem; width: 100%; }
.board_list td.title a { color: #000; text-decoration: none;transition: 0.3s }
.board_list td.title a:hover { color: #cc0000; }
.board_list td.title a.replyNum{ color: #cc3300; font-size: 0.7rem; }
.board_list td.title a.trackbackNum{}
.board_list td.author{ padding: 0.4rem 0.5rem; }
.board_list td.author a { color: #000; font-weight: bold; font-size: 0.8rem; }
.board_list td.time{ padding: 0.4rem 0.5rem; text-align: center; font-size: 0.7rem; }
.board_list td.readNum{ padding: 0.4rem 0.5rem; text-align: center; font-size: 0.7rem; }
.board_list td.voteNum{ padding: 0.4rem 0.5rem; text-align: center; color: #cc0000; font-size: 0.7rem; }
.board_list td.check{ padding: 0.4rem 0.5rem; }
.list_footer .page_list { margin: 0; text-align: center; clear: both; }
.list_footer .pagination { margin: 0 !important; }
.list_footer .pagination a { color: #000; }
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover { color: #000 !important; }
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover { background-color: #cc0000 !important; border-color: #cc0000 !important; color: #fff !important; }
.pagination>li>a, .pagination>li>span { color: #000 !important; }
.list_footer .btnArea{ float: right; margin-top: 0.5rem; padding-top:0; clear: none; }
.list_footer .board_search{ margin-top: 0.5rem; float: left; width: 20rem; margin-bottom: 0.5rem; }

.write_header{ margin-bottom: 10px; }
.write_header .btn { border-radius: 4px; }
.board_write .exArea { width: 100%; padding: 12px; background-color: #f7f7f7; border-radius: 3px; border: 1px solid #d7d8d8; margin-bottom: 1rem; }
.board_write .exArea table { width: 100%; }
.board_write .exArea p { margin-top: 0.3rem; }
.board_write .exArea caption { font-size: 0.85rem; padding: 0; margin-bottom: 0.5rem; }
.board_write .exArea textarea { width: 100%; }
.board_write .exArea em { color: #cc0000; }
.board_write .exArea ul { list-style: none; }
.board_write .exArea ul li { display: inline-block; text-align: center; margin-right: 1rem; }
.board_write .exArea input[type=checkbox], .board_write .exArea input[type=radio] { margin: 0 auto; }
.board_write .exArea .exForm th, .board_write .exArea .exForm td { min-width: 4rem; border: 1px solid #d7d8d8; background-color: #fff; padding: 0.8rem 1rem; text-align: left; word-wrap: break-word; word-break: break-all; }
.board_write .exArea .exForm th { white-space: nowrap; }
.board_write .exArea .exForm td { padding: 0.4rem; width: 100%; }
.board_write .btnArea{ text-align: center; }
.board_write .optArea{ margin-bottom: 10px; background-color: #f7f7f7; padding: 12px; border: 1px solid #d7d8d8; border-radius: 3px; display: inline-block; width: 100%; }
.board_write .optArea * { vertical-align: middle; }
.board_write .optArea .section{ display: inline-block; float: left; margin-right: 0.3rem; }
.board_write .optArea .itx { height: 23px; display: inline-block; width: 10rem; border-radius: 0; }
.board_write .optArea .itx_wrp { position: relative; float:left; margin-right: 1rem; border-radius: 3px; background-color: #fff; }
.board_write .optArea .itx_wrp label { position: absolute; top: 3px; left: 8px; font-size: 0.8rem; }
.board_write .optArea label { font-size: 0.8rem; margin-bottom: 0; }
.board_write .optArea input[type=checkbox], .board_write .optArea input[type=radio] { margin: 0; }

.read_header .header { background-color: #f6f6f6; padding: 0.4rem 1rem; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; display: inline-block; width: 100%; vertical-align: middle; }
.read_header a { color: #000; transition: 0.3s; text-decoration: none; }
.read_header a:hover { color: #cc0000; text-decoration: none; }
.read_header .header .title { font-size: 1.4rem; font-weight: bold; float: left; margin: 0; line-height: 1.8rem; }
.read_header .header .nick_area { float: right; padding-top: 0.6rem; vertical-align: bottom; }
.read_header .footer { padding: 0.4rem 0.5rem; display: inline-block; width: 100%; }
.read_header .footer .link { color: #aaa; float: left; }
.read_header .sum{ float: right; }
.read_header .sum .read{ margin-right: 0.5rem; }
.read_header .sum .vote{ margin-right: 0.5rem; }
.read_header .sum .vote .num { color: #cc0000; }
.read_header .sum .num{ margin:0 0.2rem; }

.read_body .et_vars { margin: 1rem; }
.read_body .et_vars .blind { display: none; }
.read_body .et_vars tr.bg1 { background-color: #f6f6f6; }
.read_body .et_vars th, .read_body .et_vars td { padding: 0.5rem 1rem; border: 1px solid #d7d8d8; text-align: left; word-break: break-all; word-wrap: break-word; }
.read_body .et_vars tr.bg0 { background-color: #fff; }
.read_body .et_vars th { min-width: 4rem; white-space: nowrap; }
.read_body .et_vars td { width: 100%; }
.read_body .et_vars tr.bg1 td { background-color: #fcfcfc; }

.read_body .rd_vote{ text-align:center; margin-top: 1rem; }
.read_body .rd_vote a{ display:inline-block;width:50px;height:50px;margin:0 8px;text-decoration:none;border-radius:4px;*display:inline;*zoom:1 }
.read_body .rd_vote a.blamed{ border:2px solid #BBB;color:#AAA }
.read_body .rd_vote a:hover,.bd .rd_vote a:focus{ box-shadow:0 1px 4px rgba(0,0,0,.2) }
.read_body .rd_vote b{ display:block;padding-top:7px;font:700 17px/1 Arial,sans-serif }
.read_body .rd_vote .fa-heart{ font-size:13px }
.read_body .rd_vote .fa-heart-o{ font-size:13px }
.read_body .rd_vote p{ margin:0;font-weight:700;font-size:11px }

.read_body .signiture { margin: 1rem 1rem 0 1rem; border-radius: 0; }
.read_body .signiture .profile_img { width: 6rem; height: 6rem; padding: 0.2rem; border: 1px solid #dedede; float: left; font-size: 4rem; text-align: center; }
.read_body .signiture .profile_img.fa-user { padding-top: 0.8rem; }
.read_body .signiture .nick { color: #000; margin-left: 1rem; margin-bottom: 0.5rem; }
.read_body .signiture .get_sign { margin-left: 7rem; margin-top: 0.5rem; background-color: #f6f6f6; padding: 0.5rem; border:1px solid #dedede; min-height: 65px; }

.read_footer .fileList{ background-color: #f6f6f6; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; margin-top: 1rem; }
.read_footer .files{ list-style: none; }
.read_footer .files li{ display: inline-block; padding: 0.4rem 0.4rem; }
.read_footer .files li a { color: #000; text-decoration: none; transition: 0.3s; }
.read_footer .files li a:hover { color: #cc0000; text-decoration: none; }
.read_footer .btnArea{ text-align: right; margin-top: 1rem; }

.feedback{ margin-top: 1rem; }
.feedback .fbHeader h2{ margin: 0; font-size: 0.9rem; background-color: #f6f6f6; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; padding: 0.5rem; }
.feedback .fbList{ list-style: none; }
.feedback .fbItem{ margin:-1px 0; padding: 1rem; padding-bottom: 1.3rem; padding-right: 0.5rem; padding-left: 5.5rem; border-bottom: 1px solid #dedede; border-top: 1px solid #dedede; position: relative; }
.feedback .fbItem:hover .action { display: block; transition: 0.3s; }
.feedback .fbItem a { color: #000; text-decoration: none; transition: 0.3s; }
.feedback .fbItem a:hover { color: #cc0000; text-decoration: none; }
.feedback .fbItem .profile_img { width: 4rem; height: 4rem; border: 1px solid #dedede; padding: 0.2rem; float:left; margin-left: -5rem; background-color: #fff; font-size: 3rem; text-align: center; color:#dedede; }
.feedback .fbItem .profile_img.fa-user { padding-top: 0.3rem; }
.feedback .fbItem .comment_area { word-wrap: break-word; margin-bottom: 1rem; }
.feedback .fbItem .comment_area .header { margin-bottom: 0.3rem; }
.feedback .re { position: absolute; left: -0.7rem; top: 1.4rem; color: #aaa; }
.feedback .rere { left: -1rem; top: 1rem; }
.feedback .time{ color: #aaa;margin-left: 0.5rem; }
.feedback .action{ position: absolute; top: 1rem; right: 1rem; transition: 0.3s; display: none; }
.feedback .action a{ margin-right: 0.3rem; color: #333; }
.feedback .comment_list{ text-align: center; border-bottom: 1px solid #dedede;margin-bottom: 1rem; }
.feedback .comment_list .pagination { margin: 0.8rem; }

#re_cmt { display: none; border-top: 1px solid #dedede; padding-top: 1rem; }
#re_cmt .fr { float: right; }
#re_cmt .re { position: static; margin-right: 0.4rem; }
#re_cmt .close { color: #333; font-size: 0.8rem; }
#re_cmt .write_comment { margin-top: 0; }

.write_comment{ margin-top: 1rem; margin-bottom: 1rem; }
.write_comment textarea{ width: 100%; }
.write_comment .btnArea{ text-align: right; }

/* Context Data | Context Message */
/* delete_form.html | input_password_form.html | message.html */
.context_data .header { background-color: #f6f6f6; padding: 0.4rem 1rem; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; display: inline-block; width: 100%; vertical-align: middle; }
.context_data a { color: #000; transition: 0.3s; text-decoration: none; }
.context_data a:hover { color: #cc0000; text-decoration: none; }
.context_data .header .title { font-size: 1.4rem; font-weight: bold; float: left; margin: 0; line-height: 1.8rem; }
.context_data .header .nick_area { float: right; padding-top: 0.5rem; vertical-align: bottom; }
.context_message h3 { text-align: center; }


