<!-- COMMENT -->
<div class="feedback" id="comment">
	<div class="fbHeader">
		<h2>댓글 {$oDocument->getCommentcount()}개</h2>
	</div>
	<ul cond="$oDocument->getCommentcount()" class="fbList">
		<li loop="$oDocument->getComments()=>$key,$comment" class="fbItem" style="margin-left:{(($comment->get('depth')-1)%10+1)*2}%"|cond="$comment->get('depth')" id="comment_{$comment->comment_srl}">
			<i cond="$comment->get('depth')" class="fa fa-share fa-flip-vertical re"></i><i cond="$comment->get('depth')>10" class="fa fa-share fa-flip-vertical re rere"></i>
			<block cond="!$mi->profile_img">
				<img cond="$comment->getProfileImage()" class="profile_img" src="{$comment->getProfileImage()}" alt="profile" />
				<i cond="!$comment->getProfileImage()" class="profile_img fa fa-user" aria-hidden="true"></i>
			</block>
			<div class="comment_area">
				<div class="header">
					<a cond="$comment->member_srl" href="#popup_menu_area" class="member_{$comment->member_srl}" onclick="return false">{$comment->getNickName()}</a>
					<span class="time">{getTimeGap($comment->get('regdate'), "Y.m.d H:i")}</span>
				</div>
				{$comment->getContent(false)}
				{@
					$change_comment = $comment->get('content');
					$change_comment = str_replace("\"","&quot;", $change_comment);
					$change_comment = str_replace("'","\'", $change_comment);
				}

				<p class="action">
					<a onclick="reComment({$comment->get('document_srl')},{$comment->get('comment_srl')},'{getUrl('act','dispBoardReplyComment','comment_srl',$comment->comment_srl)}'); return false;" cond="$logged_info" href="{getUrl('act','dispBoardReplyComment','comment_srl',$comment->comment_srl)}"><i class="fa fa-reply" aria-hidden="true"></i> {$lang->cmd_reply}</a>
					<a onclick="modifyComment({$comment->get('document_srl')}, {$comment->get('comment_srl')}, '{$change_comment}'); return false;" cond="$comment->isGranted()||!$comment->get('member_srl')" href="{getUrl('act','dispBoardModifyComment','comment_srl',$comment->comment_srl)}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {$lang->cmd_modify}</a>
					<a onclick="deleteComment({$comment->get('document_srl')}, {$comment->get('comment_srl')}); return false;" cond="$comment->isGranted()||!$comment->get('member_srl')" href="{getUrl('act','dispBoardDeleteComment','comment_srl',$comment->comment_srl)}"><i class="fa fa-eraser" aria-hidden="true"></i> {$lang->cmd_delete}</a>
				</p>
			</div>
		</li>
	</ul>
	<nav cond="$oDocument->comment_page_navigation" class="comment_list">
		{@ $prev_page = max($cpage-1, 1)}
		{@ $next_page = min($cpage+1, $oDocument->comment_page_navigation->last_page)}
		<ul class="pagination pagination-sm">
			<li class="disabled"|cond="$cpage==1"><a onclick="commentPagenav({$oDocument->document_srl}, 1); return false;" href="{getUrl('cpage',1)}#comment"><span aria-hidden="true">«</span></a></li>
			<li class="disabled"|cond="$cpage==$prev_page"><a onclick="commentPagenav({$oDocument->document_srl}, {$prev_page}); return false;" href="{getUrl('cpage',$prev_page)}#comment" class="prevEnd"><span aria-hidden="true">‹</span></a></li>
			<block loop="$page_no=$oDocument->comment_page_navigation->getNextPage()">
				<li class="active" cond="$cpage==$page_no"><a cond="$cpage==$page_no">{$page_no}</a></li>
				<li><a cond="$cpage!=$page_no" onclick="commentPagenav({$oDocument->document_srl}, {$page_no}); return false;" href="{getUrl('cpage',$page_no)}#comment">{$page_no}</a></li>
			</block>
			<li class="disabled"|cond="$cpage==$next_page"><a onclick="commentPagenav({$oDocument->document_srl}, {$next_page}); return false;" href="{getUrl('cpage',$next_page)}#comment"><span aria-hidden="true">›</span></a></li>
			<li class="disabled"|cond="$cpage==$page_navigation->last_page"><a onclick="commentPagenav({$oDocument->document_srl}, {$oDocument->comment_page_navigation->last_page}); return false;" href="{getUrl('cpage',$oDocument->comment_page_navigation->last_page)}#comment" class="nex-nd"><span aria-hidden="true">»</span></a></li>
		</ul>
	</nav>
</div>
<!-- /COMMENT -->
