<include target="_header.html" />
<div class="context_message">
    <h3>{$message}</h3>
    <div class="btnArea">
        <a cond="!$is_logged" href="{getUrl('act','dispMemberLoginForm')}" class="btn btn-primary">{$lang->cmd_login}</a>
        <button type="button" onclick="history.back()" class="btn btn-default"><i class="fa fa-undo" aria-hidden="true"></i> {$lang->cmd_back}</button>
    </div>
</div>
<include target="_footer.html" />
